.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}


h2.title-login{
	color: #255946 !important;
	font-family: 'Handlee', cursive;
	font-weight: bolder;
}

form.login-form-component{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div-login{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div-login.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i .icon{
	transition: .3s;
}

.input-div-login > div{
  position: relative;
	height: 45px;
}

.input-div-login > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div-login:before, .input-div-login:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #255946;
	transition: .4s;
}

.input-div-login:before{
	right: 50%;
}

.input-div-login:after{
	left: 50%;
}

.input-div-login.focus:before, .input-div-login.focus:after{
	width: 50%;
}

.input-div-login.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div-login.focus > .i > .icon{
	color: #255946;
}

.input-div-login> div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'Handlee', cursive;
}

.input-div-login.pass{
	margin-bottom: 4px;
}

span.forget-password-login{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
  cursor: pointer;
  font-family: 'Handlee', cursive;
}

span.forget-password-login:hover{
	color: #255946;
}

.btn-login{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #255946, #255946, #255946);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Handlee', cursive;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	text-align: center;
}

.register-link{
	text-decoration: none;
}

.btn-login:hover{
	background-position: right;
}

.login-components h5{
  font-family: 'Handlee', cursive;
}
